$primary-color: black;
$text-color: white;
$font-weight : (
    "regular" : 400,
    "medium" : 500,
    "bold" : 700,
);
$margin-center : 0 auto;
$align-center : center;

body{
    background-color: $primary-color;
    color: $text-color;
    font-weight: map-get($map: $font-weight, $key:regular);
    margin : $margin-center;
    width: 80% ;
    text-align : $align-center;
}

.date{
    font-weight: map-get($map: $font-weight, $key:bold);
    font-size: 60px;
}